#map {
    height: 100%;
    overflow: visible;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
.pojemnik{
    margin: 100px auto 0;
    
    width:500px;height:500px;
}
  #tlo{
      width: 600px;
      height: 600px;
    border: 5px rgb(25, 0, 255) dotted;
  }